.articleImage {
  height: 200px;
  width: 200px;
  border-radius: 2em;
}

.articleLink {
  text-decoration: none;
  color: #212529;
}

.articleLink:hover {
  text-decoration: none;
  color: #212529;
}

/* this is the iPad landscape mode */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
  .articleImage {
    height: 150px;
    width: 150px;
    border-radius: 2em;
  }

 }
