.user-keyword {
  border: none;
  margin: 4px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  border-radius: 8px;
  width: auto;
  overflow: visible;
  margin-left: 15px;
  position: relative;
  color: rgb(230, 218, 218);
}

.user-button-row {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.button-delete {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 0;
  right: 18px;
  top: -18px;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  color: rgb(233, 10, 10);
  cursor: pointer;
}

.button-delete:hover {
  text-decoration: none;
  font-weight: bolder;
}

.Recipes-buttons {
  background: var(--recipe-green);
}
.Recipes-buttons:hover {
  background: grey;
}

.News-buttons {
  background: var(--news-black);
}

.News-buttons:hover {
  background: grey;
}

.Twitter-buttons {
  background: var(--twitter-blue);
}

.Twitter-buttons:hover {
  background: grey;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
  .user-keyword {
    touch-action: manipulation;
  }

  .button-delete {
    touch-action: manipulation;
  }

 }
