.user-keyword {
    border: none;
    margin: 4px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border-radius: 8px;
    width: auto;
    overflow: visible;
    margin-left: 15px;
    position: relative;
}

.user-button-row {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.button-delete {
    text-decoration: none;
    font-weight: bold;
    position: relative;
    color: black;
    /* position: absolute; */
    /* top:0; */
    /* right:0; */
    /* top: -10px; */
    color: rgb(22, 22, 22);
    cursor: pointer;
}

.button-delete:hover {
    text-decoration: none;
    color: red;
    font-weight: bolder;
}

#button_delete_x {
    display: block;
}

.Recipes-buttons {
    background: var(--recipe-green);
}
.Recipes-buttons:hover {
    background: grey;
}

.News-buttons {
    background: var(--news-purple);
}

.News-buttons:hover {
    background: grey;
}

.Twitter-buttons {
    background: var(--twitter-blue);
}

.Twitter-buttons:hover {
    background: grey;
}
