.card {
  background: var(--card-white);
}

.btn-search {
  text-decoration: none;
  background-image: var(--highlighter-red);
  color: white;
  margin-bottom: 10px;
}

.btn-search:hover {
  background: grey;
  color: white;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
{
  .btn-search {
    margin: 0;
    font-size: 22px;
    margin-bottom: 15px;
  }
}

/*-- iphone x---------------------------------- */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) 
{
  .btn-search {
    margin: 0;
    font-size: 18px;
    margin-bottom: 12px;
  }
}