.card {
    background: var(--card-white);
}

.btn-search {
  text-decoration: none;
  background-image: var(--highlighter-red);
  color: white;
}

.btn-search:hover {
  background: grey;
  color: white;
}