.tweetLink:hover {
  text-decoration: none;
  color: #212529;
}

.tweetLink {
  text-decoration: none;
  color: #212529;
}

.tweetImage {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.list-group-item {
  min-height: 226px;
}

.list-group-item:hover {
  background: lightgray;
}

.tweetName {
  font-size: 2rem;
}

.tweetScreenName {
  font-size: 1.2rem;
  color: grey;
}

.tweetText {
  color: rgb(36, 33, 33);
}