.tweetLink:hover {
  text-decoration: none;
  color: #212529;
}

.tweetLink {
  text-decoration: none;
  color: #212529;
}

.tweetImage {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 20px;
}

.list-group-item {
  min-height: 226px;
}

.list-group-item:hover {
  background: lightgray;
}

.tweetText {
  margin-top: 15px;
  margin-left: 34px;
}

.tweetScreenName {
  color: #768694;
}