.home-content-row {
    width: 100%;
    margin: 0 auto;
}

.collapse{
    margin: 0;
}

.btn-link{
    text-decoration: none;
    color: black;
}

.btn-link:hover, .btn-link:focus, .btn-link:visited {
    text-decoration: none;
    color: black;
  }


  #accordion {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .card {
      margin: 0;
  }