header {
    width: 100%;
    background-image: var(--main-gradient);
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: var(--dark-accent) 12px solid;
    margin-bottom: 20px;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.highlight {
    background-image: linear-gradient(var(--dark-accent), rgb(14, 30, 117));
    border-radius: .2em;
    padding: 0 8px 2px 8px;
}

.nav-item {
    margin: 0 auto;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;

}

