.about-icons {
  margin-right: 1rem;
  margin-top: 1rem;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
  .about-icons {
    margin: 0 auto;
    margin: .3rem;
  }
  .bootstrap-logo {
    margin-left: 15%;
  }

  .heroku-logo {
    margin-right: 15%;
  }
  .powered-container {
    text-align: center;
  }

 }