#search_button_row {
  margin-bottom: 5px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 12px;
  border: black solid 1px;
  overflow: none;
  margin-right: 3px;
  margin-left: 3px;
}

#search_button_row h4 {
  margin-left: 6px;
}

.button_array {
  margin: 25px 5px 25px 10px;
}

#edit_button_click:hover {
  cursor: pointer;
  text-decoration: underline;
}

#edit_button_click {
  font-size: 18px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
  #edit_button_click {
    touch-action: manipulation;
  }

 }
