#search_button_row {
    margin-bottom: 5px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 12px;
    border: black solid 1px;
    overflow: none;
    margin-right: 3px;
    margin-left: 3px;
}

#search_button_row h4{
    margin-left: 6px;
}


#search_button_info {
}

.button_array {
    margin: 25px 5px 25px 10px;
}