footer {
  min-height: 5%;
  overflow: auto;
  background-image: var(--main-white);
  padding-top: 10px;
  text-align: center;
  border-top: red solid 0.2rem;
}

.highligher_footer {
  background-image: var(--highlighter-red);
  padding: 0.2rem;
  margin-left: 3rem;
  border-radius: 0.5rem;
  color: rgb(235, 228, 228);
}
