.recipeLink:hover {
  text-decoration: none;
  color: #212529;
}

.recipeLink {
  text-decoration: none;
  color: #212529;
}

.recipeImage {
  height: 200px;
  width: 200px;
  border-radius: 2em;
}

.list-group-item {
  max-height: 226px;
}

.list-group-item:hover {
  background: lightgray;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
  .recipeImage {
    height: 150px;
    width: 150px;
  }

 }

   /*-- iphone x---------------------------------- */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .recipeImage {
    height: 75px;
    width: 75px;
    border-radius: 1em;
  }
  .recipeTitle {
    font-size: 15px;
    margin-left: 20px;
  }
  .recipePublisher {
    font-size: 15px;
    margin: 0;
  }
  .recipeRank {
    overflow: none;
  }
}