.about1 {
  background-image: url(./img/ComputerIMG.jpg);
  background-repeat: no-repeat;
  background-size: 35rem;
  background-position-x: -7.5rem;
  background-position-y: -2rem;
}

.about2 {
  background-image: url(./img/magazines.jpeg);
  background-repeat: no-repeat;
  background-size: 33rem;
}

.about3 {
  background-image: url(./img/api_fist.jpg);
  background-repeat: no-repeat;
  background-size: 33rem;
  background-position-x: -8.4rem;
  background-position-y: -2rem;
}

.modal-image {
  text-decoration: none;
  border: none;
  width: 19.5rem;
  height: 19.5rem;
  margin: 2rem;
  border-radius: 1em;
}

.modal-image:hover {
  cursor: pointer;
}

.modal-image-stripe {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: rgb(241, 237, 237);
  text-align: center;
  background: var(--highlighter-red);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15.5rem;
}

.image-hover {
  margin: 0;
  width: 19.5rem;
  height: 19.5rem;
  border-radius: 1em;
}

.image-hover:hover {
  background-color: grey;
  opacity: 0.8;
}

.main-title-modal {
  padding-top: 0.5rem;
  margin-left: 0.8rem;
  font-size: 2rem;
}

.highligher-modal {
  background-image: var(--highlighter-red);
  padding: 0.5rem;
  margin-left:1rem;
  border-radius: 0.5rem;
  color: rgb(235, 228, 228);
}

.about-modal-size {
  min-width: 50%;
}

.modal-about {
  background-image: linear-gradient(to right, #FFFFFF, rgb(247, 244, 241));
}

.content-heading {
  margin-bottom: 1rem;
  color: rgb(22, 22, 22);
}

.content-heading-medium {
  margin-bottom: 1.9rem;
  color: rgb(97, 97, 97);
}

.API-list {
  font-size: 1.2rem;
}

#API-Modal_Image {
  height: 100px;
  width: auto;
}

.modal-body p {
  font-size: 1.2rem;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
   .modal-image {
    width: 17rem;
    height: 17rem;
   }

   .image-hover {
    width: 17rem;
    height: 17rem;
   }
   .modal-image-stripe {
    margin-top: 13rem;
   }

  .about1 {
    margin: 0 auto;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 15px;;
  }
  .about2 {
    margin: 0 auto;
  }
  .about3 {
    margin: 0 auto;
    background-size: 29.5rem;
    background-position-x: -7.7rem;
    background-position-y: -2.3rem;
  }
  .about-strip {
    width: 100%;
  }
  .content-heading-medium {
    margin-bottom: .8rem;
  }
  .modal {
    text-align: left;
  }
  .modal-body p {
    font-size: 1.2rem;
  }
  .button-image {
    height: 175px;
    width: auto
  }
 }