header {
  padding-top: 0.9rem;
  padding-bottom: 0.3rem;
  width: 100%;
  height: 5rem;
  background: var(--main-white); 
  border-bottom: red solid 0.2rem;
  margin-bottom: 3rem;
}

.main-title {
  padding-top: 0.5rem;
  margin-top: .5rem;
  margin-left: 0.8rem;
  font-size: 1.5rem;
}

.highligher {
  background-image: var(--highlighter-red);
  padding: 0.5rem;
  margin-left: 3rem;
  border-radius: 0.5rem;
  color: rgb(235, 228, 228);
}

#login-row {
  margin-right: 3rem;
}

.login-button-style {
  text-decoration: none;
  border: none;
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin: 3px;
  color: white;
}

.login-button-style:hover {
  background: grey;
}

.login {
  background: var(--highlighter-red);
}

.sign-up-style {
  background: var(--main-grey);
  color: black;
}

.button-list {
  margin: 0;
  padding-left: 8rem;
}

.hamburger-icon {
  height: 3rem;
  width: 3rem;
  margin: 0;
  margin-left: 0;
  position: relative;
  left: 5rem;
  top: 1.1rem;
}

.navigation {
  padding: 0;
}

.login-modal-size {
  min-width: 35%;
}

.user-login-input {
  width: 100%;
  padding-left: 2px;
}

.user-password-input {
  width: 100%;
  padding-left: 2px;
}

.mobile-dropdown:hover {
cursor: pointer;
}


/* --ipad portrait------------------------------------ */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
 {
  .dropdown-menu {
    width: 300px !important;
    height: 320px !important;
    background: rgb(245, 243, 243);
  }
  .dropdown-item {
    font-size: 30px;
    margin-right: 100px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: rgb(231, 6, 6);
  }
  .login-modal-content {
    height: 400px;
  }

  .input-heading {
    font-size: 2rem;
    margin-top: 10px;
  }

  .user-password-input {
    font-size: 1.3rem
  }
  .user-login-input {
    font-size: 1.3rem
  }
  #login-dropdown {
    text-decoration: none;
    border: none;
    display: inline;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background: var(--highlighter-red);
    color: white;
    margin-left: 29px;
    margin-top: 4px;
    font-size: 24px;
  }
  #sign-up-dropdown {
    text-decoration: none;
    border: none;
    display: inline;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin: 3px;
    background: var(--main-grey);
    color: black;
    margin-top: 6px;
    margin-left: 29px;
    font-size: 24px;
  }
  .drop-down-button-a {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
 }


@media only screen and (min-width: 600px) {
  header {
    height: 8rem;
  }
  .main-title {
    padding-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 2.8rem;
  }
}

