header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 9rem;
    background: green;
    border-bottom: blue solid 1rem;
}

.main-title {
    padding-top: 1.5rem;
    margin-left: 3rem;
    font-size: 3rem;
}

.highligher{
    background: red;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
}

#login-row{
    margin-right: 3rem;
}

.login {
    text-decoration: none;
    background: red;
    padding: .9rem;
    margin: 2px;
    color: white;
}

.button-list{
    margin-right: 3rem;
}