header {
    padding-top: .9rem;
    padding-bottom: .3rem;
    width: 100%;
    height: 5rem;
    background: green;
    border-bottom: blue solid .5rem;
    margin-bottom: 3rem;
}

.main-title {
    padding-top: .5rem;
    margin-left: .5rem;
    font-size: 1.5rem;
}

.highligher{
    background: red;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
}

#login-row{
    margin-right: 3rem;
}

.login {
    text-decoration: none;
    background: red;
    padding: .9rem;
    margin: 2px;
    color: white;
}

.button-list{
    margin: 0;
}

.hamburger-icon {
    height: 3rem;
    width: 3rem;
    margin: 0;
    margin-left: 0;
    position: absolute;
    left: 45px;
}

.navigation {
    padding: 0;
    overflow: hidden;
}

@media only screen and (min-width: 600px) {
    Header {
      background: lightblue;
      height: 8rem;
    }
    .main-title {
        padding-top: .5rem;
        margin-left: .5rem;
        font-size: 2.8rem;
    }
  }